@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("fonts/PretendardVariable.woff2") format("woff2-variations");
}

:root {
  --white-background: #fff;
  --search-bar-radius: 1.5rem;
  --search-bar-color: #fff;
}

* {
  margin: 0;
  padding: 0;

  font-family: "Pretendard Variable";
}
